$banker-bar: 2px solid $body-color;
 /* Header ------------------------------------------------------------------- */
nav.navbar-inverse {
  background: $blue;
  border: none;
  border-bottom: 1px solid #fff; // #006395;
  color: #fff;
  border-radius: 0;
  padding: 0;
   .navbar-brand {
    font-weight: bold;
  }
   .navbar-brand,
  .navbar-nav>li>a {
    color: #fff;
  }
   .navbar-nav>.active>a,
  .navbar-nav>.active>a:hover,
  .navbar-nav>.active>a:focus {
    color: #fff;
    background: $blue;
  }
}
 header {
  // background: $green;
  // color: #fff;
  padding: 0px 0 20px;
}
 header a,
header a:link,
header a:visited,
header a:active {
  // color: #fff;
  // border-bottom: 1px dotted #fff;
  text-decoration: none;
  line-height: 1.5em;
}
 nav {
  background: #0088cc;
  color: #fff;
  padding: 10px 0;
}
 nav {
  line-height: 14px;
  a:link, a:active,
  a:visited, a:hover {
    color: white;
  }
}
 .site-branding {
  font-weight: bold;
}
 /* Footer ------------------------------------------------------------------- */
footer {
  bbackground: #ebe4bd;
  border-top: 1px solid #e5dcaa;
  margin-top: 25px;
  padding: 25px 0 20px 0;
   form {
    font-weight: bold;
    color: #b0a360;
  }
   input[type="submit"],
  select {
    @include highlight-tan;
  }
}
 /* Content ------------------------------------------------------------------ */
#content {
  padding: 0 0 30px;
  background: white;
}
 #content h2.related-grants {
  border-top: $banker-bar;
  margin-top: 1.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
 /* Home --------------------------------------------------------------------- */
.home {
  h1 {
    text-align: center;
    font-size: 5rem;
    font-weight: 800;
  }

  h1, h2 {
    text-align: center;
  }

  .search-wrapper {
    margin-top: $space-5;
    margin-bottom: $space-5;
    text-align: center;

    input {
      width: 50%;
      text-align: left;
      border: $border-width solid $blue-accent;
      border-radius: 0;
      padding: .5rem 1rem;
      font-size: 2rem;
    }

    p {
      font-weight: 300;
      font-size: $l;
      padding-top: $space-3;
      max-width: none;
    }

    .search-results {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      font-size: 2.5rem;

      .result {
        flex: 0 0 calc(25% - 20px);
        padding: $space-3;

        text-align: left;
        line-height: 1.2;;
        font-weight: 300;

        a:link, a:visited {
          border-bottom: 1px dotted $blue;
        }
      }
    }
  }
}
 /* TopLists --------------------------------------------------------------------- */
.toplists {
  width: 100%;
  background-color: $money;
  padding-bottom: $space-3;

  a {
    border-bottom-color: $money;
  }

  h2, h3 {
    text-align: left;
    font-weight: 800;
  }

  h2 {
    font-size: 3rem;
    border-bottom: $border-width solid $green-accent;
    color: $green-accent;
  }
}


/* Callouts ----------------------------------------------------------------- */
 .callout {
  letter-spacing: -0.05em;
   .num {
    font-weight: 600;
  }
}
 h3.callout {
  font-size: 2em;
  border-bottom: 1px dotted $gray;
}
 .white .callout {
  border-bottom: 5px solid $gray;
}
 .contrast .callout {
  border-bottom: 5px solid $darker-tan;
}
 /* Search ------------------------------------------------------------------- */
@import "search";
 /* Grants ------------------------------------------------------------------- */
@import "grants";
 /* Orgs --------------------------------------------------------------------- */
@import "orgs";
 /* NTEEs  ------------------------------------------------------------------- */
.ntee {
  h3 {
    border-bottom: $banker-bar;
    padding-bottom: 5px;
  }
   .chart {
    height: 400px;
    margin-bottom: 2em;
    .highcharts-container {
      overflow: visible !important;
    }
  }
}
 /* Pages  ------------------------------------------------------------------- */
 .page h2 {
  margin-top: 1em;
}
 /* Main Menu ---------------------------------------------------------------- */
#block-system-main-menu {
  ul.menu {
    li.leaf {
      padding-right: 23px;
      :last-child {
        padding-right: 0;
      }
    }
  }
}
 /* Flags -------------------------------------------------------------------- */
#flag {
  margin-top: 1em;
   .panel-body {
    display:none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
  }
   textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid $blue;
  }
   span {
    color: $gray
  }
   .error,
  .thanks {
    display: none;
  }
}
