.grantsTable {
  width: 100%;

  h2 {
    margin-top: 0.5em;
  }

  .summary {
    padding-top: 0.75em;
    padding-bottom: 0.25em;
    border-top: 2px solid $body-color;
    border-bottom: 1px dotted $body-color;

    .amount {
      font-weight: bold;
    }
  }

  .dates {
    min-width: 125px;
  }

  tr,
  .grantRow {
    border-bottom: 1px dotted $body-color;
  }

  .ReactVirtualized__Table__headerRow {
    border-bottom: none;
  }

  .ReactVirtualized__Table__headerColumn:first-of-type, .ReactVirtualized__Table__rowColumn:first-of-type {
    margin-left: 0;
  }

  .ReactVirtualized__Table__headerColumn:nth-child(3),
  .amount {
    text-align: right;
  }

  .ReactVirtualized__Table__headerColumn:last-child,
  .amount:last-child {
    margin-right: 0;
  }

}

 .grant:hover td.description a {
  color: $blue;
  border-bottom: 1px dotted $blue;
}
 .grant a {
  color: $blue;
  border-bottom: 1px dotted $blue;
}
 .grant a:hover {
  color: $blue;
  border-bottom: 1px solid $blue;
}
 .grant h3 .glyphicon {
  font-size: 12px;
}
 .grant-details ul {
  list-style: none;
  padding: 0;
}
